--extra-index-url https://download.pytorch.org/whl/cpu
nncf==2.13.0
openvino==2024.4.0
openvino-genai==2024.4.0.0

torch==2.3.1
torchvision

transformers>=4.45
librosa==0.10.2
onnx==1.16.1
qwen-vl-utils
Pillow
librosa
opencv-python

gradio>=4.36
modelscope
modelscope_studio>=0.4.2

# jupyter
jupyterlab
ipywidgets
ipykernel>=5.0
ipython>=7.16.3
